.big-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.temp-now {
    display: flex;
    justify-content: center;
    font-family: 'LCD14ItalicCondensed';
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;
    color: rgb(75, 75, 75);
    margin-bottom: 2rem;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}

#temp-graph{
    border-radius: 5px;
    border-color: rgb(106, 160, 146);
    border-style: solid;
    border-width: 2px;
}

.graph-btn-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    font-size: 2rem;
    margin-bottom: 6rem;
}

.btn-graph {
    margin: 1rem;
    background-color: rgb(174, 255, 235);
    min-width: 7rem;
    border-radius: 5px;
    padding: 5px 8px;
    color: rgb(75, 75, 75);
    text-align: center;
    filter: drop-shadow(1px 1px 1px rgb(106, 160, 146));
}


.btn-graph:hover {
    filter: brightness(85%) drop-shadow(1px 1px 1px rgb(5, 115, 158));
}