{% extends "layout.html" %}

{% block pagestyles %}
    {% assets "home_style_bundle" %}
    <link
        href="{{ ASSET_URL }}"
        rel="stylesheet"
        type="text/css"
    />
  {% endassets %}
{% endblock %}

{% block content %}
    <div class="big-container">
    {% include "navigation.html" %}
        <div class="graph">
            <div class="temp-now">
                <span>TEMP NOW: {{ curr_temp }}<span>
            </div>
            <img id="temp-graph" src='data:image/png;base64,{{ data_plot }}'>    
            <div class="graph-btn-bar">
                <div class="btn-graph" id="three-hr">3hr</div>
                <div class="btn-graph" id="one-day">24hr</div>
                <div class="btn-graph" id="one-wk">Week</div>
            </div>
        </div>
    </div>
{% endblock %}
